* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  padding-bottom: 24px;
  width: 300px;
}

button {
  background-color: #F07857;
}

table,
th,
td {
  border: 1px solid;
}

th {
  font-size: 1.25rem;
}

td, th {
  padding: 8px 12px;
}

label {
  display: flex;
  gap: 16px;
  width: 400px;
  font-weight: 700;
  align-items: center;
  justify-content: flex-end;
}

input, select {
  height: 48px;
  width: 164px;
}




